<!DOCTYPE html>
<html>
  <head>
    <title>HerokuAssetsSandbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <%= yield %>
    <div class="note">
      Images taken from <%= link_to 'here', 'https://www.instagram.com/p/CZQMg3Xv6WE/' %>
      and
      <%= link_to 'here', 'https://illust-ryokka.jp/material/background/floral-pattern/' %>.
    </div>
  </body>
</html>
